rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /referrals/{refCode} {
      allow read, write: if true;
    }
    match /comments/{commentId} {
      allow read, write: if true;
    }
    match /referral_events/{eventId} {
      allow read, write: if true;
    }
  }
}
